/* #graph-bckgrnd {
    background: linear-gradient(to right, rgb(0, 0, 0) 0%, rgb(49, 49, 49) 33%, rgb(78, 78, 78) 75%);
    height:900px;
    width:100%;
} */

svg {
    display: inline-block;
}

div.tooltip {
    position: absolute;
    text-align: left;
    background: #FFFFFF;
    color: #080808;
    border: 1px solid #000000;
    border-radius: 0px;
    pointer-events: none;
    font-size: 1.3rem;
    padding: 5px;
}

rect.bar {
    fill: rgb(153, 62, 1);
}