/* #graph-bckgrnd {
    background: linear-gradient(to right, rgb(0, 0, 0) 0%, rgb(49, 49, 49) 33%, rgb(78, 78, 78) 75%);
    height:900px;
    width:100%;
} */

svg {
    display: inline-block;
}

div.tooltip {
    position: absolute;
    text-align: left;
    background: #FFFFFF;
    color: #080808;
    border: 1px solid #000000;
    border-radius: 0px;
    pointer-events: none;
    font-size: 1.3rem;
    padding: 5px;
}

rect.bar {
    fill: rgb(153, 62, 1);
}


div#graph{
    position: absolute;
}

div#scroll {
    scroll-padding: auto;
    display: block;
    position: relative;
    left: 50%;
    top: 100px;
    width: 45px;
    height: 90px;
    margin: 0;
    overflow-y: auto;
    overflow-x: hidden;
    -ms-overflow-style: none;
    scrollbar-width: none;
    border-left: 1px solid black;
    border-right: 1px solid black;
    border-top: none;
    border-bottom: none;
    transform: rotate(-90deg) translateY(-100px);
    transform-origin: right top;
}

div#scroll::-webkit-scrollbar {
  display: none;
}

div#scroll > div {
    box-sizing: border-box;
    
    font-size: 30px;
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    width: 45px;
    height: 45px;
    cursor: pointer;
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
    /* transform-origin: right top; */
}

div.state {
    display:flex;
    justify-content: center;
    align-items: center;
}